<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

  <!-- TASK 1 -->
  <servlet>
    <servlet-name>CounterServlet</servlet-name>
    <servlet-class>com.clouway.jspservlet.task1.CounterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CounterServlet</servlet-name>
    <url-pattern>/counterServlet</url-pattern>
  </servlet-mapping>

  <!-- TASK 2 -->
  <servlet>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>com.clouway.jspservlet.task2.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/redirectServlet</url-pattern>
  </servlet-mapping>

  <!-- TASK 3 -->
  <servlet>
    <servlet-name>RedirectServletTwo</servlet-name>
    <servlet-class>com.clouway.jspservlet.task3.RedirectServletTwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServletTwo</servlet-name>
    <url-pattern>/redirectServletTwo</url-pattern>
  </servlet-mapping>

  <!-- TASK 4 -->
  <servlet>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.clouway.jspservlet.task4.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.clouway.jspservlet.task4.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Servlet3</servlet-name>
    <servlet-class>com.clouway.jspservlet.task4.Servlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet3</servlet-name>
    <url-pattern>/servlet3</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ResultServlet</servlet-name>
    <servlet-class>com.clouway.jspservlet.task4.ResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultServlet</servlet-name>
    <url-pattern>/resultServlet</url-pattern>
  </servlet-mapping>





  <!-- ONLINE BANKING -->
  <!-- RegisterServlet -->
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.clouway.jspservlet.onlinebanking.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <!-- LoginServlet -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.clouway.jspservlet.onlinebanking.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <!-- LogoutServlet -->
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.clouway.jspservlet.onlinebanking.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DepositServlet</servlet-name>
    <servlet-class>com.clouway.jspservlet.onlinebanking.DepositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositServlet</servlet-name>
    <url-pattern>/deposit</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>WithdrawServlet</servlet-name>
    <servlet-class>com.clouway.jspservlet.onlinebanking.WithdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawServlet</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>

  <!-- OnlineUsersServlet -->
  <servlet>
    <servlet-name>OnlineUsersServlet</servlet-name>
    <servlet-class>com.clouway.jspservlet.onlinebanking.OnlineUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnlineUsersServlet</servlet-name>
    <url-pattern>/onlineUsers</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>

  <!-- LoginSecurityFilter -->
  <filter>
    <filter-name>LoginSecurityFilter</filter-name>
    <filter-class>com.clouway.jspservlet.onlinebanking.LoginSecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginSecurityFilter</filter-name>
    <url-pattern>/onlinebanking/userPage.jsp</url-pattern>
    <url-pattern>/onlinebanking/</url-pattern>
  </filter-mapping>

  <!-- UserBalanceFilter -->
  <filter>
    <filter-name>UserBalanceFilter</filter-name>
    <filter-class>com.clouway.jspservlet.onlinebanking.UserBalanceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserBalanceFilter</filter-name>
    <url-pattern>/onlinebanking/userPage.jsp</url-pattern>
    <url-pattern>/deposit</url-pattern>
  </filter-mapping>

  <!-- RegisterSecurityFilter -->
  <filter>
    <filter-name>RegisterSecurityFilter</filter-name>
    <filter-class>com.clouway.jspservlet.onlinebanking.RegisterSecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RegisterSecurityFilter</filter-name>
    <url-pattern>/onlinebanking/register.jsp</url-pattern>
  </filter-mapping>

  <!-- OnlineUsersFilter -->
  <filter>
    <filter-name>OnlineUsersFilter</filter-name>
    <filter-class>com.clouway.jspservlet.onlinebanking.OnlineUsersFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OnlineUsersFilter</filter-name>
    <url-pattern>/onlinebanking/login.jsp</url-pattern>
  </filter-mapping>

  <!-- Listener -->
  <listener>
    <listener-class>com.clouway.jspservlet.onlinebanking.EndSessionListener</listener-class>
  </listener>




  <!-- Registration Form -->
  <servlet>
    <servlet-name>ValidatorServlet</servlet-name>
    <servlet-class>com.clouway.jspservlet.registrationform.ValidatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidatorServlet</servlet-name>
    <url-pattern>/validate</url-pattern>
  </servlet-mapping>





  <!-- Calculator -->
  <servlet>
    <servlet-name>CalculatorServlet</servlet-name>
    <servlet-class>com.clouway.jspservlet.calculator.CalculatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculatorServlet</servlet-name>
    <url-pattern>/calculator</url-pattern>
  </servlet-mapping>

  
  
  
  
  <!-- Tag Library -->
  <servlet>
    <servlet-name>SimpleLoop</servlet-name>
    <servlet-class>com.clouway.jspservlet.test.SimpleLoopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleLoop</servlet-name>
    <url-pattern>/simpleLoop</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ForEachServlet</servlet-name>
    <servlet-class>com.clouway.jspservlet.test.ForEachServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForEachServlet</servlet-name>
    <url-pattern>/forEach</url-pattern>
  </servlet-mapping>
  
</web-app>
