.form {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#logoutForm {

    width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#centerBold {
    text-align: center;
    font-weight: bold;
}

.bottomMargin td {
    padding-bottom: 10px;
}