#form {

    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#info {

    width: 260px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#error {

    width: 450px;
    margin-left: auto;
    margin-right: auto;
    color: #ff290c;
    text-align: center;
}

#centerBold {

    text-align: center;
    font-weight: bold;
}