html {
    background-image: url("../resources/background.png");
    background-repeat: no-repeat;
    background-color: #f0f0f0;
}

#catalog {
    position: relative;

    margin-top: 265px;
    margin-left: auto;
    margin-right: auto;

    font-family: monospace;
}

#catalogTable {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

#catalogTable th {
    font-size: 14px;
    text-align: left;

    border-style: groove;
    border-width: 8px;
}

#innerTr td{
    width: 250px;

    font-size: 18px;
}

#paging {
    font-size: 14px;

    position: relative;
    width: 250px;

    margin-left: auto;
    margin-right: auto;
}

a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: #6b6b6b;

    margin-left: 20px;
    margin-right: 20px;
}
