#catalog {

    position: relative;
    width: 1000px;

    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;

    border-style: groove;
    border-width: 1px;
    background-color: #f0f0f0;

    font-family: monospace;
}

#catalog li {

    text-align: center;
    width: 800px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

#catalog ul {

    margin-bottom: 50px;
}

#paging {

    position: relative;
    width: 250px;

    margin-top: -5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

a:link, a:visited, a:active, a:hover {

    text-decoration: none;
    color: #6b6b6b;

    margin-left: 20px;
    margin-right: 20px;
}